img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/pexels-money.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.navbar-brand {
  border-style: solid;
  height: 40px;
  width: 40px;
  padding-left: 10px;
}

.get-richr {
  width: 254px;
  height: 96px;
  font-size: 50px;
  background-color: green;
}

.display-3 {
  font-size: 125px;
  color: black;
}

.lead {
  font-size: 40px;
  color: black;
  font-weight: 450;
}
